.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 13rem;
    background-color: #192A32;
    padding: 0.5rem 1rem;
    border-radius: 18px;
}
.quote h1 {
    color: #31C4BE;
    font-family: DM Sans;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
}
.quote p {
    color: #F2B237;
    text-align: center;
    font-family: DM Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.quote img {
    background-color: #31C4BE;
    padding: 0.5rem;
    border-radius: 50%;
    text-align: center;
}